@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@using MOE.Models
@inject IHttpContextAccessor HttpContextAccessor
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

@*<h3>The ID is "@HttpContextAccessor.HttpContext.Session.GetString("id")"</h3>
@if (User.Identity.IsAuthenticated)
{
    <h2>Welcome @User.Identity.Name </h2>
}
<ul>
    @foreach(var c in User.Claims){
        <li>@c.Type : @c.Value</li>
    }
</ul>*@

<!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="~/Control">Home</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-4 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>@ViewBag.PagesCount</h3>

                <p>Pages</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a  asp-action="Index" asp-controller="Pages" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-4 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>@ViewBag.CatsCount</h3>

                <p>Categories</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a  asp-action="Index" asp-controller="Categories" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-4 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>@ViewBag.FilesCount</h3>

                <p>Files</p>
              </div>
              <div class="icon">
                <i class="bi bi-file-earmark" style="font-size: 56px;"></i>
              </div>
              <a asp-action="Index" asp-controller="Files" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
         
          <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <section class="col-lg-7 connectedSortable">
            <!-- Most Visited Pages -->
            <div class="card card-primary card-outline">
              <div class="card-body">
                <h3 class="card-title"><b>Most Visited</b></h3>

                <table class="table table-striped" >
                    <thead>
                       <tr>
                           <th>#</th>
                           <th width="50%">Title</th>
                           <th>Views</th>
                           <th></th>
                       </tr>
                    </thead>
                    <tbody>
                        @foreach (Page item in ViewBag.mostVisited) {
                            <tr>
                                <td>1</td>
                                <td>@item.Title</td>
                                <td>@item.Views</td>
                                <td>
                                    <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.PageId"><i class="fas fa-folder"></i> Details</a>
                                    <a asp-action="Index" asp-controller="Home" asp-area="" target="_blank"  asp-route-id="@item.PageId" class="btn btn-primary btn-sm"> <i class="bi bi-binoculars-fill"></i> Preview</a>
                                </td>
                            </tr>
                        }               
                    </tbody>
                </table>
              </div>
            </div><!-- /.card -->
            <!-- /.pages -->
          </section>
          <!-- /.Left col -->
          <!-- right col (We are only adding the ID to make the widgets sortable)-->
          <section class="col-lg-5 connectedSortable">

            <!-- Map card -->
            
            <!-- /.card -->

            <!-- /.card -->
          </section>
          <!-- right col -->
        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>  